@page
@model certainty.Pages.deleteAllVerificationModel

<div class="d-flex flex-column align-items-center justify-content-center text-center">
    <h1>Are you sure you want to delete all records?</h1>
    <h4>All records will be lost</h4>
    <form method="post">
        <input type="submit" value="Delete All records" class="btn bg-danger mt-2 text-white" />
        <a href="Records" class="btn btn-primary mt-2">Return to records page</a>
    </form>
</div>

