@page
@model certainty.Pages.finalVerificationModel

<div class="container mt-5">
    <form method="post" class="text-center">
        <h1>Verification code has been sent to your email address</h1>
        <label for="codeInput"><h2>Enter the code:</h2></label>
        <input class="form-control mb-3" type="text" placeholder="Code" id="codeInput" name="Code" required />

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
