@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Welcome, this is certainty !</h1>

    <section id="introduction" class="my-5">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h2 class="card-title">Certainty</h2>
                <p class="card-text">Experience a new level of financial management with our web app. Whether you're tracking daily expenses, analyzing spending patterns, or managing currencies, we've got you covered. Explore the key sections below to make the most of your financial journey.</p>
            </div>
        </div>
    </section>

    <section id="summary" class="my-5">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h2 class="card-title">Summary</h2>
                <p class="card-text">Get a quick overview of your financial health in the Summary section. Engage with intuitive graphs that visualize your spending habits and view essential information at a glance. Stay informed and make informed decisions about your finances.</p>
            </div>
        </div>
    </section>

    <section id="records" class="my-5">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h2 class="card-title">Records</h2>
                <p class="card-text">Head to the Records section to manage all your financial transactions efficiently. Sort, filter, and search through your records with ease. Adding new transactions is a breeze, ensuring that your financial data is always up-to-date and organized for analysis.</p>
            </div>
        </div>
    </section>

    <section id="currencies" class="my-5">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h2 class="card-title">Currencies</h2>
                <p class="card-text">Customize your currency preferences in the Currencies section. Explore a comprehensive list of currencies and seamlessly switch your preferred currency. Witness the magic as the values of your records adjust dynamically based on your chosen currency, providing a hassle-free experience for global financial tracking.</p>
            </div>
        </div>
    </section>
</div>
