@page
@model certainty.Pages.LoginModel

<div class="container mt-5">
    <h1 class="display-4 text-center">Login</h1>

    <form method="post" class="mx-auto" style="max-width: 400px; margin-top: 20px;">

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" placeholder="Username" id="username" name="Username" required />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" placeholder="Password" id="password" name="Password" required />
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />

    </form>

    <h1 class="text-center mt-3">@HttpContext.Session.GetString("loginMess")</h1>
</div>